*{
    outline: 0;
    border: 0;
    box-sizing: border-box;
}
table ,td,th{
    border-collapse: collapse;
    border: 2px solid black;
}
table
{
    margin-top: 20px;
    width: 100%;
    height: 100px;
}
th{
    background: yellow;
}
.one{
    background: black;
    color: #fff;
    border-color: #fff;
}
